html, body {
    height: 100%; /* Ensure full height for body */
    margin: 0; /* Remove default margin */
    background-color: #000000; /* Set background color to pitch black */
}

.widgetbot {
    border-radius: 0; /* Remove rounded corners if needed */
    box-shadow: none; /* Remove shadow if it's present */
}
